{% extends "dashboard/base_admin.html"%}
{% load static %}
{% block content %}

<div class="container mt-4">
     

 <div class="d-flex justify-content-end me-3 mt-2">
        <a href="{% url 'add-post' %}">
            <buttton class="btn btn-primary btn-l">
                Create Post 
            </button>
        </a>
        <a href="{% url 'admin_draft_post'%}" class="ms-2">
         <button class= "btn btn-secondary "> Drafts  </button>
        </a>
        <a href="{% url 'admin_published_posts'%}" class="ms-2">
         <button class= "btn btn-warning "> Published  </button>
        </a>

      
        <a href="#" class="data-sort-author btn btn-success ms-2" >
            Authors
        </a>

        <button class="btn btn-warning ms-2">
            <a href="#" class="text-white data-sort-category "> Categories </a>
        </button>

        {% comment %} <button type="button" data-sort-author class="btn btn-warning ms-2">Authors</button> {% endcomment %}
    </div>
  
    <h2>Posts in {{ category.name }}</h2>
    

     <div class="container-fluid">
        <div class="container">
            <div class="row">         
                {%  for post in posts %}
                    <div class="col-lg-4">
                        <div class="position-relative mb-3 border-radius-10">
                            <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'admin_post_details' post.pk %}">
                                {% if post.image %}
                                <img class="img-fluid" src="{{post.image.url}}" style="object-fit: cover; border-radius: 10px; width: 100%; height: 200px;" alt="{{ post.title }}">
                                {% else %}
                            </a>
                            {% endif %}
                            <div class="bg-white border border-top-0 p-4">
                                <div class="mb-2">
                                    <a class="badge badge-primary  text-dark text-uppercase font-weight-semi-bold p-2 mr-2" href="{% url 'category-posts' post.category.id %}">{{post.category}}</a> {{post.date_posted |date:"M d, Y"}}
                                </div>
                                <a class="h4 d-block mb-3 text-secondary text-uppercase font-weight-bold" href="{% url 'admin_post_details' post.pk %}">{{post.title|truncatechars:10}}</a>
                                <p class="m-0">{{post.content|truncatechars:10}}</p>
                            </div>
                            
                            <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                                <div class="d-flex align-items-center">
                                <img class="rounded-circle header-profile-user" src="{% static 'dist/assets/images/users/avatar-2.jpg' %}"  alt="Header Avatar" style="width: 20px; height: 20px;">                                    
                                <small>   {{post.author}}</small>
                                </div>
                                <div class="d-flex align-items-center">
                                <small class="ml-3"><i class="far fa-comment mr-2"></i> {{ post.comment_count }} comments</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            
                    </div>
                </div>

                   
        </div>
    </div>
</div>

{% endblock content %}
