{% extends "dashboard/base_admin.html" %}


{% block search_content %}
<form class="app-search d-none d-lg-block" method = "get"  action = "{% url 'search_category'%}">

    <div class="row">
      <div class="col">
        <input class="form-control mr-sm-2" type="search" {% if search_result %} value="{{ search_result }}" {% endif %} placeholder="Search" aria-label="Search" name="search">
    </div>
    <div class="col p-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </div> 
    
    </div>             
</form>   

{% endblock search_content %}




{% block content %}



<div class="card m-3">
  
    {% if request.user.is_superuser %}
        <div class="d-flex justify-content-end me-3 mt-2">
            <a href="{% url 'category_add' %}">
                <buttton class="btn btn-primary btn-l">
                    Create Category
                </button>
            </a>
        </div>
    {% endif %}
  <div class="card-body table-responsive">
  <table class="table table-bordered table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col">SN</th>
        <th scope="col">Category</th>
        {% if request.user.is_superuser%}
            <th scope="col">Action</th>
         {% endif %}
      </tr>
    </thead>
    <tbody>
            {% for category in categories %}

                <tr>  
                    <td> {{forloop.counter}}</td>
                    <td>{{category.name}}</td>
                   
                    {% if request.user.is_superuser%}
                        <td>
                            <div class="d-flex gap-2 align-items-center">
                                    <a href="{% url 'category_posts_admin' category.pk %}" class="btn btn-secondary"><i class="ri-eye-fill"></i></a>
                                    <a href="{% url 'category_update' category.pk %}" class="btn btn-primary"><i class="ri-edit-2-line"></i></a>
                                    <form method="post" action="{% url 'delete_category' category.pk %}" class="m-0 p-0">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" onclick="return confirmDeleteModal(event)"><i class="ri-delete-bin-line"></i></button>
                                     </form>             
                            </div>
                           
                        </td>
                        {% endif %}
                </tr>
                {% endfor %}
    
    
        </tbody>
    
  </table>
  
  </div>
  {% comment %} <div class="pagination row m-auto">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div> {% endcomment %}
</div>


</div>
 
{% endblock content %}



