{% extends 'dashboard/base_admin.html' %}
{% block content %}
<div class="card m-3">
        <div class="card-body">

    <form method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
    <button type="submit" class="btn btn-success">Update Category</button>
    </form>
</div>
</div>
    
{% endblock content %}

{% comment %} 
{% extends 'dashboard/base_admin.html'%}

{% block%}
<div class="card">
    <h5 class="card-header">Update CATEGORY</h5>
    <div class="card-body">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="w-100 btn btn-lg btn-primary" type="submit">Update Category</button>
        </form>
    </div>

    {% endblock %} {% endcomment %}
