{% extends 'dashboard/base_admin.html'%}

{% block content %}

    <div class="card m-3">
        <div class="card-body">

            <form method="post">
              
                {% csrf_token %}
                {{ form.as_p }}

                {% if group %}
                  <button type="submit" class="btn btn-success " >Update Group</button>
                  {% else %}
                    <button type="submit" class="btn btn-success">Create Group</button>
                {% endif %}


                <a href="{% url 'group_list' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
        {% endblock %}
