{% extends 'accounts/base.html' %}

{% block content %}

<form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="POST">
    {% csrf_token %}

 {{form.as_p}}

    <small class="text-body-secondary"><a href="{% url 'forget-password' %}"> Forget Password!</a> </small>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <hr class="my-4"> <small class="text-body-secondary"><a href="{% url 'register' %}"> Don't  have a account. Click here
            ! </a> </small>
            

    
</form>

{% endblock content %}