{% extends "dashboard/base_admin.html" %}


{% block search_content %}
<form class="app-search d-none d-lg-block" method = "get"  action = "{% url 'search_user'%}">

    <div class="row">
      <div class="col">
        <input class="form-control mr-sm-2" type="search" {% if search_result %} value="{{ search_result }}" {% endif %} placeholder="Search" aria-label="Search" name="search">
    </div>
    <div class="col p-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </div> 
    
    </div>             
</form>   

{% endblock search_content %}


{% block content %}
<div class="card m-3">
  

  <div class="card-body table-responsive">
      <table class="table table-bordered table-hover">
        <thead class="table-secondary">
          <tr>
            <th> SN </th>
            <th>User</th>
            <th>Email</th>
            <th>Author </th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
           {% for user in users %}
            <tr>
           
                <td> {{forloop.counter}}</td>
                <td> {{user.username}}</td>
                <td> {{user.email}}</td>
                <td><span class="tag tag-success">{{user.is_staff}}</span></td>
                <td>
                    <div class="d-flex gap-2 align-items-center">

                        <a href="{% url 'user_details' user.id %}" class="btn btn-secondary" ><i class="ri-eye-line"></i></a>

                        <a href="{% url 'user_status_update'  user.id %}" class="btn btn-primary"><i class="ri-edit-2-line"></i></a>
                        <form method="post" action="{% url 'delete_user' user.id%}" class="m-0 p-0">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger" onclick="return confirmDeleteModal(event)"><i class="ri-delete-bin-line"></i></button>
                        </form>  
                      </div>
                </td>

                  
                   
                        
            </tr>
          {% endfor %}    
                   
         </tbody>
    
      </table>
  
    </div>
  <div class="pagination row m-auto">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>


</div>
 
{% endblock content %}