{% extends 'dashboard/base_admin.html' %}



{% block content %}
<div class="card m-3">
        <div class="card-body">

    <form method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} {{ form.media }} {% endcomment %}
        <hr>
        {% if post  %}
            <button type="submit" class="btn btn-success">Update Post </button>
        {% else %}
            <button type="submit" class="btn btn-success">Create Post </button>

         {% endif %}
    </form>
</div>
</div>
    
{% endblock content %}
