{% extends 'base.html' %}

{% block content %}
<div class="card">
  <h5 class="card-header">ADD POST </h5>
  <div class="card-body">
    <form  method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      {{ form.as_p}}
      
      {% if post %}
               <button class="w-100 btn btn-lg btn-primary" type="submit">Update Post </button>
      {% else %}
         <button class="w-100 btn btn-lg btn-primary" type="submit">Create Post </button>
    {% endif %}

    </form>

  </div>
</div>
{% endblock %}
