{% extends 'base.html' %}


{% block content %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="display-5 fw-bold">{{post.title}}</h1> 
        <p class="col-md-8 fs-4"> 
            <a href="#"> {{post.category}} </a> | {{ post.date_posted }}
        </p>
        {% if post.image %}
        <img src="{{post.image.url}}" alt="NO Image"  style="max-height: 200px;" class="mb-4"> 

        {% endif %}



     <div class="mb-3">
    <a href="{% url 'like-post' post.pk %}" class="btn btn-primary btn-sm">Like Post</a>

    <span class="ms-2 position-relative d-inline-block" style="cursor: pointer;" id="likes-container">
        <span id="likes-count">( {{ like_count }} Likes)</span>

        <div id="likes-list" class="shadow-sm border bg-white p-2 rounded" style="
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 180px;
            z-index: 1000;
            white-space: nowrap;">
            Loading...
        </div>
    </span>
</div>


        
    </div> 
        
    <div  class="row">
        <div class="col-md-7">

            <p class="col-md-8 fs-4"> {{post.content}} </p>
        </div>

        <div class="col-md-5">
            <h5>Comments</h5>
          {% for comment in comments %}
            <div class="mb-2">
                <strong>{{ comment.author.username }}</strong> ({{ comment.date_posted|date:"SHORT_DATETIME_FORMAT" }}):<br>
                {{ comment.content }}

                {% if user.is_authenticated %}
                    <button class="btn btn-link btn-sm p-0" type="button" onclick="toggleReplyForm({{ comment.id }})">Reply</button>
                    <form method="POST" id="reply-form-{{ comment.id }}" style="display:none; margin-top:10px;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <button class="btn btn-primary btn-sm" type="submit">Add Reply</button>
                    </form>
                {% endif %}

                {% for reply in comment.replies.all %}
                    <div class="ms-3 mt-2 border-start ps-2">
                        <strong>{{ reply.author.username }}</strong> ({{ reply.date_posted|date:"SHORT_DATETIME_FORMAT" }}):<br>
                        {{ reply.content }}
                    </div>
                {% endfor %}
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}


        {% if user.is_authenticated %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary btn-sm" type="submit">Add Comment</button>
            </form>
        {% else %}
            <p><a href="{% url 'login' %}">Login</a> to comment.</p>
        {% endif %}
    </div>

    

    <script>
        document.getElementById('likes-count').onclick = function(event) {
       
        var container = document.getElementById('likes-list');

        if (container.style.display === 'none') {
            fetch("{% url 'post-likes' post.pk %}")
            .then(function(response) {
                if (!response.ok) throw new Error('Network error: ' + response.status);
                return response.json();
            })
            .then(function(data) {
                if (data.likes.length === 0) {
                    container.innerHTML = '<em>No likes yet.</em>';
                } else {
                    var html = '<strong>Liked by:</strong><ul style="padding-left: 15px;">';
                    data.likes.forEach(function(like) {
                        html += '<li>' + like.username + '</li>';
                    });
                    html += '</ul>';
                    container.innerHTML = html;
                }
                container.style.display = 'block';
            })
            .catch(function(error) {
                container.innerHTML = 'You have to login first to see who liked this post';
                container.style.display = 'block';
            });
        } else {
            container.style.display = 'none';
        }
     };


function toggleReplyForm(commentId) {
    var form = document.getElementById('reply-form-' + commentId);
    if (form.style.display === "none") {
        form.style.display = "block";
    } else {
        form.style.display = "none";
    }
}


</script>

{% endblock%}