{% extends 'base.html' %}


{% block content %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <h1 class="display-5 fw-bold">{{post.title}}</h1> 
        <p class="col-md-8 fs-4"> 
            <a href"#"> {{post.category}} </a> | {{ post.date_posted }}
        </p>
        {% if post.image %}
        <img src="{{post.image.url}}" alt="NO Image"  style="max-height: 200px;"> 

        {% endif %}


        <div>
         <a href="{% url 'like-post' post.pk %}" class="btn btn-primary btn-sm " type="button"> Like Post </a>

         <span class="ms-1"> ( {{like_count}} Likes)</span>
        </div>
        
    </div> 
        
    <div>
<p class="col-md-8 fs-4"> {{post.content}} </p>

{% endblock%}