{% extends "dashboard/base_admin.html" %}

{% block search_content %}
<form class="app-search d-none d-lg-block" method = "get"  action = "{% url 'serach_comments'%}">

    <div class="row">
      <div class="col">
        <input class="form-control mr-sm-2" type="search" {% if search_result %} value="{{ search_result }}" {% endif %} placeholder="Search" aria-label="Search" name="search">
    </div>
    <div class="col p-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
    </div> 
    
    </div>             
</form>   

{% endblock search_content %}



{% block content %}
<div class="card m-3">
  

  <div class="card-body table-responsive">
        <table class="table table-bordered table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">S.N. </th> 
                        <th scope="col"> Commented By </th>
                        <th scope="col">Comments </th>    
                        <th scope="col"> Post</th>
                        <th scope="col"> Author </th>
                        <th scope="col">Is delete </th> 
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
            <tbody>
                    {% for comment in comments %}

                        <tr>  
                            <td> {{forloop.counter}}</td>
                            <td> {{comment.author.username}}</td>
                            <td> {{comment.content}} </td>
                            <td> {{ comment.post.title}}</td>
                            <td> {{comment.post.author}}</td>
                            <td> {{ comment.is_delete}} </td>
                            {% if request.user.is_superuser%}
                                <td style="border-right: 1px solid #dee2e6;">
                                    <form method="post" action="{% url 'delete_comment' comment.pk %}" class="m-0 p-0 d-inline-block w-100">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm " onclick="return confirmDeleteModal(event)"><i class="ri-delete-bin-line"></i></button>
                                    </form>
                            </td>

                            {% else %}
                            <td> </td>
                            {% endif %}
                        </tr>
                    {% endfor %}

                                        
                    
            
                </tbody>
            
        </table>
  
    </div>
   <div class="pagination row m-auto">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>





 
{% endblock content %}



