{% extends 'base.html' %}


{% block content %}

<div class="row align-items-md-stretch gy-4">
    <div class="col-md-6">
        <div class="h-70 p-5 text-bg-dark rounded-3">
           <h2> Read Posts </h2>
                 <a href="{% url 'all-posts' %}" class="btn btn-outline-light" type="button"> Read Posts </a> </button>
        </div>
    </div>
    <div class="col-md-6">
        <div class="h-70 p-5 text-bg-dark rounded-3">
           <h2> View My Posts </h2>
                 <a href="{% url 'my-post' %}" class="btn btn-outline-light" type="button"> MY Post </a> </button>
        </div>
    </div>

    <div class="col-md-6">
        <div class="h-70 p-5 bg-body-tertiary border rounded-3">
            <h2> Create Posts </h2>
           
                <a  href="{% url 'add-post' %}" class="btn btn-outline-secondary" type="button">Create a Post </a>
        </div>
    </div>
</div>

{% endblock %}